<div id="home-section">
  <div id="home-help">
    <div id="home-section-header">
      Olvidé mi contraseña
    </div>

    <div id="home-section-container">
      <% form_tag(lost_password_session_path, :id => 'lost-password-form') do -%>
        <table width="100%"  border="0" cellspacing="10" cellpadding="0">
          <%= colgroup_for_data_tables %>

          <%# to have a visual alignment which resembles the one in the login form %>
          <tr><td></td><td></td></tr>
      
          <tr>
            <td class="label">Email</td>
            <td><%= text_field_tag 'email', params[:email] %></td>
          </tr>
          <tr><td></td><td><%= submit_tag 'Envíame una nueva contraseña', :class => 'button' %></td></tr>
        </table>
      <% end -%>
    </div>
  </div>
</div>
