<%#
  This is the form which appears as a popup in the offer form to create
  customers on the fly.
%>

<div id="redbox-for-new-customer" style="display: none; width: 700px;">
  <div style="margin: 10px">
    <div style="padding: 10px">
    <%# We create a fake user to fool the customer form partial. %>
    <% @customer = @current_account.customers.build %>
    <% remote_form_for @customer, :url => create_for_offer_customers_path do |form| %>
      <%= render :partial => 'customers/form', :locals => {:form => form} %>
      <table width="100%" border="0" cellspacing="10" cellpadding="0">
        <colgroup>
          <col width="50%"/>
          <col width="50%"/>
        </colgroup>
        <tr>
          <td>
            <%= button_to_function 'Cancelar', "clean_errors_in_customer_redbox(); show_combos_for_redbox_if_ie('offer-form'); RedBox.close()", :class => 'button' %>
          </td>
          <td align="right">
            <%= submit_tag 'Crear cliente', :class => 'button' %>
          </td>
      	</tr>
      </table>
    <% end %>
    </div>
  </div>
</div>
