<%# This is an excepcional form which has nothing to do with AR, a plain-old form is enough %>
<div class="blank-page">
  <div class="caption">Exportaci칩n de ofertas</div>
  <form action="<%= formatted_offers_path('csv') %>" method="GET">
    <p>
      <label for="period"><span class="subcaption">Periodo</span></label><br/>
      <select name="period">
        <option value="" selected="selected">Todo el hist칩rico</option>
        <option value="current_quarter">Trimestre presente</option>
        <option value="last_quarter">Trimestre pasado</option>
        <option value="current_year">A침o presente</option>
        <option value="last_year">A침o pasado</option>
      </select>
    </p>
    <p>
      <label for="period"><span class="subcaption">Cliente</span></label><br/>
      <select name="customer_id">
        <option value="" selected="selected">Todos los clientes</option>
        <% for customer in @customers %>
        <option value="<%= customer.id %>"><%=h customer.name %></option>
        <% end %>
      </select>
    </p>
    <p>
      <%= submit_tag 'Exportar ofertas', :class => 'button' %>
    </p>
  </form>
</div>